@use "sass:map";
@import "styles/pages/theme";

.header__top {
  background: #f5f5f5;
}

.header__top_left {
  ul {
    display: flex;
    align-items: center;
    padding: 10px 0 13px;
    column-gap: 20px;

    li {
      font-size: 14px;
      color: map.get($theme-colors, "normal-text");
      display: flex;
      align-items: center;
      column-gap: 2px;
    }

    li:first-child {
      position: relative;

      &::after {
        position: absolute;
        right: -10px;
        top: 1px;
        height: 20px;
        width: 1px;
        color: #00000000;
        content: "";
        opacity: 0.1;
      }
    }
  }
}

.header__top_right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 0 13px;
  ul {
    display: flex;
    column-gap: 5px;

    a {
      font-size: 14px;
      display: inline-block;
      color: map.get($theme-colors, "normal-text");
      text-decoration: none;
    }

    li:last-child {
      cursor: pointer;
      margin-left: 10px;
      span {
        font-size: 14px;
        margin-left: 2px;
      }
    }
  }
}
